/*General Style*/

.gsc-control-cse


{
	padding:0px !important;
	border-width:0px !important;
}

form.gsc-search-box,table.gsc-search-box
{
	margin-bottom:0px !important;
}

.gsc-search-box .gsc-input
{
	padding:0px 4px 0px 6px !important;
}

#gsc-iw-id1
{
	height: auto !important;
	padding: 0px !important;
	border-width: 0px !important;
	box-shadow:none !important;
}

#gs_tti50
{
	padding:0px !important;
}

#gsc-i-id1
{
	height:36px !important;
	padding:0px !important;
	background:none !important;
	text-indent:0px !important;
}

.gsib_b
{
	display:none;
}
.styleable-rootcontainer {
 background-color:transparent !important;
}
button.gsc-search-button
{
	display:block;
	width:13px !important;
	height:13px !important;
	border-width:0px !important;
	margin:0px !important;
	padding: 10px 6px 10px 13px !important;
	outline:none;
	cursor:pointer;
	box-shadow:none !important;
	box-sizing: content-box !important;
}

.gsc-cursor-box {
 border-color:#FFFFFF
}
.gsc-results .gsc-cursor-box .gsc-cursor-page {
 border-color:#999999;
 background-color:transparent !important;
 color:#111010
}
.gsc-results .gsc-cursor-box .gsc-cursor-current-page {
 border-color:#4285F4;
 background-color:transparent !important;
 color:#4285F4
}

.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
 border: transparent !important;
 background:transparent !important;
}


.gsc-branding
{
	display:none !important;
}

.gsc-control-cse,#gsc-iw-id1
{
	background-color:transparent !important;
}

/* Changing placeholder color of search box */
#gsc-i-id1::-webkit-input-placeholder
{ 
	/* Chrome */
	color: #FFF;
}

#gsc-i-id1:-ms-input-placeholder
{ 
	/* IE 10+ */
	color: #FFF;
}

#gsc-i-id1::-moz-placeholder
{ 
	/* Firefox 19+ */
	color: #FFF;
	opacity: 1;
}

#gsc-i-id1:-moz-placeholder
{ 
	/* Firefox 4 - 18 */
	color: #FFF;
	opacity: 1;
}



/* Different Style Search boxes */



/* Green Box */
#green-searchbox {
	max-width: 1250px;
	height: 50px;
	margin: 0 auto;
	background-color: #038860;
	padding: 8px 12px;
	border: 2px solid#FFF;
	box-shadow: 0px 0px 0px 2px #038860;
	border-radius: 50px;
}
#green-searchbox #gsc-i-id1
{
	color:#FFF;
}
#green-searchbox button.gsc-search-button
{
	padding:10px !important;
	background-color:transparent !important;
}

